.container
{
    max-width: 120rem;
    background-color: var(--color-grey-lite-1);
    margin: 8rem auto;
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
    @media only screen and (max-width:$tab-land)
    {
        margin:0;
        width: 100%;
        max-width: 100%;
    }
    @media only screen and (max-width:$mobile)
    {
        margin:0;
        width: 100%;
        max-width: 100%;
    }
}
.content
{
    display: flex;
    @media only screen and (max-width:$tab-port){
        flex-direction: column;
    }
}
.header
{
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-top:2px solid var(--color-grey-lite-1);
    @media only screen and (max-width:$mobile){
        flex-wrap: wrap;
        align-content: space-between;
    }
}
.side-bar
{
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    
    &__copyright
    {
        color: var(--color-grey-lite-4);
        font-size: 1.2rem;
        padding: 2rem;
        font-family: 'Open Sans';
        @media only screen and (max-width:$tab-port)
    {
       display: none;
    }
    }
    &__name
    {
        color: var(--color-primary);
        text-transform: uppercase;
        font-size: 1.3rem;
        text-decoration: none;
        display: inline-block;
        transition: all .2s;
    }
    &__name:hover
    {
        color: var(--color-primary);
        transform: scale(1.1);
    }
}
.hotel-view
{
    flex:0 0 1;
    background-color: #fff;
    height: auto;
}
.details
{
    font-family: 'Open Sans';
    color: var(--color-grey-dark-2);
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-lite-1);
    @media only screen and (max-width:$mobile)
    {
        padding: 2rem;
        flex-direction: column;

    }

}
.description
{
    background-color: #fff;
    flex:0 0 60%;
    padding: 3rem;
    box-shadow: var(--shadow-lite);
    margin-right: 4.5rem;
    @media only screen and (max-width:$mobile)
    {
        padding: 1.5rem;
    }
}
.user-reviews
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width:$mobile)
    {
        padding: 1.5rem;
        margin-top: 2rem;
    }
}